ul li:hover {
    background: #FF0000;
}

body {
    background-color: #280000;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h2 {
    padding: 5px;
    text-align: center;
}

.addBtn {
    padding: 5px;
    background: #ddd;
    position: absolute;
}

ul li {
    margin: 5px;
    color: black;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    text-align: center;
}

.addBtn:hover {
    background-color: #bbb;
}

.close {
    padding: 12px;
    background: #888;
    color: black;
}