h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-weight: 400;
}

body {
    margin-top: 75px;
    text-align: center;
}

input {
    block-size: 30px;
    background-color: rgb(207, 240, 241);
    border-radius: 8px;
}

button {
    margin-left: 10px;
    font-size: 20px;
    background-color: rgb(119, 119, 226);
    border-radius: 200px;
    }

.close {
    margin-left: 50px;
    background-color: red;
    text-align: center;
}

ul {
    margin-left: 270px;
    text-align: start;
    list-style: none;
}